@font-face {
  font-family: 'BigNoodle';
  src: url("./fonts/big_noodle_titling.ttf");
}

@font-face {
  font-family: 'Epilogue';
  src: url("./fonts/epilogue.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'BigNoodle';
}

::-webkit-scrollbar {
  width: 10px;
}

.field-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.clients-par-genre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.clients-par-genre > * {
  font-family: 'Epilogue' !important;
  font-weight: bold;
  font-size: 25px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
  background: #747474;
  border-radius: 10px 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #302c18 ;
  
}

.acc-a {
  text-decoration:none;
  color: black;
}

.bar > .acc-a:hover {
  color: rgb(253, 234, 198);
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #302c18;
  color: rgb(253, 234, 198);
  padding-top: 45px;
  padding-bottom: 55px;
}

.footer-links > div:hover > .acc-a {
  color: #babdb8;
}

.date-add,
.client-genre-add {
  width: 335px !important;
}

.product-name {
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 25px;
}

.p-n {
  width: 230px;
}

.gerer-comm > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.client-genre-add {
  margin: 0 !important;
}

.add-reservation-form {
  padding: 15px 50px !important;
}

.footer-links > div > .acc-a {
  transition: .3s;
}

.admin-header {
  background-color: #302c18;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 70px;
  border-radius: 0 0px 10px 10px;
}

.admin-header > div {
  display: flex;
  flex: 1;
}

.admin-logo {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 30px
}

.admin-logo > div:nth-child(1) {
  display: flex;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

.link {
  color: black;
  text-decoration: none;
  transition: .1s;
}

.link:hover {
  color: black;
  text-decoration: none;
}

.admin-logo > div:nth-child(2) {
  margin-left: 30px;
  font-size: 27px;
}

.admin {
  display: flex;
  flex-direction: column;
}

.admin-main {
  display: flex;
  flex-direction: row;
  flex-wrap: 2;
}

.admin-sidebar {
  background-color: rgb(206, 206, 206);
  padding: 0 30px;
  height: 800px;
  position: fixed;
  border-radius: 0 10px 10px 0;
  top: 120px;
}

.outlet {
  height: 100%;
  width: 100%; 
  margin-left: 310px;
  max-width: -webkit-fill-available;
}

.admin-center {
  padding: 20px 75px;
  display: flex;
  flex-direction: column;
}

.admin-title {
  font-size: 35px;
  margin-bottom: 20px;
}

.gerer-comm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.td-center {
  text-align: center;
}

.gerer-comm > div:nth-child(2),
.gerer-comm > div:nth-child(3),
.gerer-comm > div:nth-child(4) {
  margin-right: 20px;
}

.empty-th {
  border: none;
}

.td-checkbox {
  align-items: center;
}

.input-radio {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gerer-comm input[type=radio] {
  margin-right: 7px;
}

.input-radio > div {
  font-size: 27px;
}

.puce {
  border-radius: 50px;
  margin-right: 13px;
  margin-left: 13px;
}

.gerer-comm input[type=date] {
  border: 1px solid gray;
  padding: 5px 20px;
  width: 215px;
  border-radius: 10px;
  font-size: 30px;
}

.gerer-clients {
  display: flex;
  flex-direction: column;
  padding: 20px 75px;
  font-family: 'Epilogue';
}

/* Gérer clients */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

h3 {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.update > div {
  display: flex;
  justify-content: center;
}

.delete > div {
  display: flex;
  justify-content: center;
}

.update-btn {
  background-color: rgb(0, 0, 255);
  padding: 20px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  color: rgb(228, 228, 228);
}

.delete-btn {
  background-color: red;
  padding: 20px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  color: rgb(228, 228, 228);
}

.add-btn {
  background-color: rgb(0, 158, 0);
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  color: white;
  width: 265px;
  margin-left: 10px;
  font-size: 17px;
  align-items: center;
  font-family: 'epilogue';
}

.add {
  text-align: right;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

i {
  color: white;
}

.fa-xmark {
  font-size: 16px;
}

.fa-pen {
  font-size: 13px;
}

.update-btn, .delete-btn {
  align-items: center;
  height: 35px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 25px;
}

/**/

.modal-content {
  width: fit-content !important
}

.modal-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.acc-details > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid grey;
  padding: 0 20px;
  width: 350px;
}

.acc-details > form > input,
.acc-details > form > select {
  margin: 10px;
  padding: 10px 10px;
  border-radius: 3px;
  border: 1px solid grey;
}

.btn-close {
  margin-right: 5px;
}

.btn-close {
  margin-right: 5px;
}

.modal-body > div {
  font-size: 20px;
}

.modal-body > button {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 7px 15px;
  margin-top: 10px;
}

table td,
table th {
  cursor: default;
  border: 1px solid #dddddd;
  font-family: 'epilogue';
  font-size: 17px;
}

.total {
  font-size: 30px !important;
  margin-top: 7px;
}

.new-td {
  font-family: "epilogue" !important;
  display: flex;
  flex-direction: row;
}

.new {
  position: relative;
  right: 71px;
  font-size: 20px;
  color: rgb(61, 189, 61);
  top: -6px;
}

.update-client {
  
}

.new-animation {
  overflow: hidden;
  animation: typewriter 3s 1s infinite; 
}

@keyframes typewriter {
  0%{width: 0;}
  100%{width: 30px;}
}

/***/

.stat,
.a-number {
  font-family: 'epilogue';
  font-size: 10px;
  text-align: center;
}

.total-clients {
  width: -webkit-fill-available;
  /*height: 200px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 35px;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 4px;
  background-color: white;
  margin-right: 30px;
  background-color: rgb(245, 245, 245);
}

.total-clients:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.total-clients > .icon {
  border: 1px solid #ffc9c8;
  background-color: #ffe8e7;
}

.icon {
  padding: 17px 23px;
  border-radius: 100px;
  font-size: 25px;
  margin-bottom: 20px;
}

.a-number {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: -5px;
  margin-top: 3px;
}

.stat {
  font-size: 22px;
  margin-top: 5px;
}

.admin-clients {
  display: flex;
  flex-direction: row;
  max-width: -webkit-fill-available;
}

.admin-clients > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

.field-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.admin-icons {
  display: flex;
  width: 250px;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  transition: .2s;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 7px 17px;
  position: relative;
}

.admin-icons:last-child {
  position: absolute;
  bottom: 0;
}

.admin-icons:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}

.admin-icons:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.admin-icons:hover {
  cursor: pointer;
  background-color: rgb(175, 175, 175);
}

.admin-icons:hover > div > .link {
  cursor: pointer;
  color: rgb(65, 43, 43);
}

.admin-icons > div:nth-child(1) {
  margin-right: 10px;
}

.admin-icons > div:nth-child(2) {
  font-size: 25px;
}

.admin-panel {
  font-size: 35px;
}

.header > div {
  display: flex;
  flex: 1;
}

.tel-ad {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 20px;
  padding-right: 60px;
}

.logo {
  display: flex;
  justify-content: center;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

.logo-titre {
  font-size: 35px;
  margin-top: 5px;
  color: white;
  font-family: 'epilogue';
  font-weight: bold;
}

.logo-description {
  font-size: 30px;
  margin-bottom: 5px;
  color: white;
  font-family: 'epilogue';
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.socials {
  display: flex;
  justify-content: left;
  padding-left: 60px;
}

.socials > * {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
}

.nav {
  display: flex;
  justify-content: center;
  background: transparent;
  position: absolute;
  top: 123px;
  width: 100%;
  z-index: 1;
}

.nav-align {
  align-content: center;
  border-radius: 5px;
  max-width: fit-content;
  box-shadow: 1px 1px 15px 1px grey;
}

.bar {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color: #302c18;
}

.bar > .acc-a,
.bar > div {
  border: 1px solid rgb(253, 234, 198);
  padding: 15px 25px;
  background-color: rgb(253, 234, 198);
  transition: .2s;
}

.bar > .acc-a:hover,
.bar > div:hover {
  background-color: #666666;
  cursor: pointer;
  color: rgb(253, 234, 198);
  border-color: #666666;
}

.bar > .acc-a:first-child,
.bar > div:first-child {
  border-radius: 5px 0 0 5px;
}

.bar > .acc-a:last-child {
  border-radius: 0 5px 5px 0;
}

.bar > div:last-child {
  border-radius: 0 5px 5px 0;
}

.bar > div:nth-child(1),
.bar > div:nth-child(2),
.bar > div:nth-child(3),
.bar > div:nth-child(4) {
  border-right: none;
}

.bar > .acc-a:nth-child(1),
.bar > .acc-a:nth-child(2),
.bar > .acc-a:nth-child(3),
.bar > .acc-a:nth-child(4) {
  border-right: none;
}

.acc {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 271px 0;
}

.color-overlay {
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #999d96;
}

.footer {
  flex-basis: 100%;
  width: 100%;
}

.modal {
  font-size: 'BigNoodle';
  margin-top: 200px;
  display: none;
}

.email,
.password {
  font-size: 25px;
}

.user-page {
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 40px;
  align-items: center;
}

.reserver-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  padding-top: 30px;
  margin-top: 30px;
}

.reserver-btn > button {
  padding: 10px 15px;
  background-color: #c7c7c7;
  border-radius: 5px;
  font-size: 25px;
  transition: .2s;
  border: none;
}

.reserver-btn > button:enabled:hover {
  background-color: #9b9b9b;
  color: white;
  cursor: pointer;
}

.reserver-btn > button:disabled:hover {
  cursor: not-allowed;
}


.user-page > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.user-page > div:nth-child(1) {
  letter-spacing: 1px;
}

.modal-t {
  font-size: 28px;
}

.hello-user {
  font-weight: bold;
  letter-spacing: 0;
}

.user-infos {
  background-color: white;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 50px;
  width: fit-content;
  flex-basis: 100%;
  border-radius: 7px;
  box-shadow: 1px 1px 15px 5px rgb(184, 184, 184);
}

.user-infos-first {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.user-infos-first > div {
  font-size: 27px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.user-infos-btn {
  display: flex;
  flex-direction: row;
}

.user-infos-btn > div {
  padding: 5px 10px;
  font-size: 25px;
  border-radius: 5px;
  background-color: wheat ;
  color: #302c18;
  transition: .2s;
  box-shadow: 1px 1px 10px -1px rgb(192, 192, 192);
}

.user-infos-btn > div:nth-child(2) {
  margin-left: 20px;
  margin-right: 20px;
}

.user-infos-btn > div:nth-child(2) > a {
  color: black;
  text-decoration: none;
}

.user-infos-btn > div:nth-child(2):hover > a {
  color: wheat ;
}

.user-infos-btn > div:hover {
  background-color: #302c18;
  color: wheat ;
  cursor: pointer;
}

.connect-btn {
  font-size: 23px;
  background-color: #7f86ff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: white;
  transition: .2s;
  margin-top: 10px;
}

.connect-btn:hover {
  background-color: #5a61eb;
}

.modal-close-btn {
  font-size: 23px;
}

/*
.loginForm {
  display: flex;
  flex-direction: column;
}
*/

.field {
  position: relative;
  margin-top: 45px;
  margin-bottom: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

/*

.field:nth-child(2) {
  margin-top: 40px;
}

*/

label {
  padding-bottom: 8px;
  padding-left: 14px;
  position: absolute;
  top: 11px;
  left: 0;
  pointer-events: none;
  transition: 0.3s;
  display: inline-block;
  color: #7f86ff;
  width: 100%;
}

.email:focus ~ label,
.email:valid ~ label,
.password:focus ~ label,
.password:valid ~ label,
.select-genre:focus ~ label,
.select-genre:valid ~label {
  top: -24px;
  font-size: 23px;
  left: -13px;
  color: #7f86ff;
}

.email,
.password {
    width: 300px;
    padding: 10px 14px;
    border-radius: 5px;
    outline: none;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid grey;
    background: transparent;
    transition: .2s;
}

.email:focus,
.password:focus
.select-genre:focus {
    box-shadow: 0px 15px 20px -15px #7f86ff;
}

.password:focus {
  letter-spacing: 2px;
}

.field input:focus ~ span::before {
  width: 100%;
}

span {
    border-radius: 5px;
}

span::before {
    border-radius: 5px;
    content: '';
    position: absolute;
    top: 58px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #7f86ff;
    transition: 0.5s;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.select-genre {
  width: 300px;
  height: 52px;
  padding: 11px 14px;
  border-radius: 5px;
  font-size: 25px;
  outline: none;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 1px solid grey;
  background: transparent;
}

.search-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  padding: 0 20px;
  height: 65px;
  border-radius: 0 25px 25px 0;
  border-left: none;
  transition: .2s;
  background-color: rgb(230, 230, 230);
}

.search-btn:hover {
  cursor: pointer;
  background-color: rgb(216, 216, 216);
}

.search-btn:active {
  background-color: rgb(199, 199, 199);
}

.search-btn:active > div {
  transform: translateY(5px);
}

.search-btn > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

.qui-sommes-nous {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.nos-offres {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #999d96;
}

.section-title {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  font-size: 35px;
  letter-spacing: 2px;
}

.iframe-div {
}

.section-description {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 27px;
  text-align: center;
  font-family: 'epilogue';
}

.offres {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

.offre {
  border: 1px solid black;
  padding: 10px 19px;
  border-left: none;
  border-right: none;
  font-size: 25px;
}

.offre:hover {
  background-color: black;
  cursor: pointer;
  color: #babdb8;
}

.offre:first-child {
  border-radius: 5px 0 0 5px;
  border: 1px solid black;
}

.offre:last-child {
  border-radius: 0 5px 5px 0;
  border: 1px solid black;
}

.détails {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  flex-wrap: 2;
  margin-top: 30px;
  border-top: 1px solid black;
  animation: down-animation .2s linear forwards;
}



@keyframes down-animation {
  from {
    opacity: 0;
    transform: translateY((-400px));
  }

  to {
    opacity: 1;
    transform: translateY((0));
  }
}

.détail {
  font-size: 25px;
  border: 1px solid black;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  flex: 1;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: none;
  z-index: 2;
}

.heure {
  margin-bottom: -5px;
}

.machine {
  margin-top: -5px;
}

.copyright {
  font-size: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid black;
}

.reserver {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.selectionnez {
  font-size: 30px;
}

.s-date {
  padding: 10px;
  font-size: 27px;
  width: 218px;
}

.voici {
  font-size: 30px;
}

#voici-earliest {
  display: none;
}

#voici-aucune {
  display: none;
}

.seances-dispo {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.seance-dispo {
  border: 1px solid black;
  padding: 7px 80px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 30px;
  transition: .3s;
}

.seance-dispo:hover {
  background-color: rgb(228, 228, 228);
  cursor: pointer;
}

.v-s {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid black;
  margin-top: 30px;
}

.select-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.delete-r-btn {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: rgb(199, 61, 61);
  color: white;
  font-size: 25px !important;
}

.etes-vous-surs {
  font-size: 30px !important;
  margin-bottom: 10px;
}

.delete-r-btn:hover {
  cursor: pointer;
}

.desc-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 25px;
}

.desc-icons > div {
  margin-top: 15px;
  font-family: 'epilogue';
  font-weight: bold;
}

.charac {
  border-top: 1px solid black;
  padding-top: 60px;
  display: flex;
  flex-direction: row;
}

.footer-links {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

.footer-links > div {
  transition: .2s;
}

.footer-links > div:hover {
  color: #babdb8;
  cursor: pointer;
}

.footer-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-details > div {
  margin-left: 150px;
  margin-right: 150px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  font-size: 40px;
  margin-top: -5px;
}

.footer-logo > :nth-child(1) {
  font-size: 40px;
}

.footer-logo > :nth-child(2) {
  font-size: 25px;
  margin-top: -10px;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

.footer-socials > div:nth-child(2) > * {
  margin-right: 20px;
  transition: .2s;
}

.footer-socials > div:nth-child(2) > *:hover {
  color: #babdb8;
  cursor: pointer;
}

a {
  text-decoration:none;
  color: black;
}

.footer-infos {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  background-color: #999d96;
  padding: 65px 0;
  padding-left: 70px;
  padding-right: 40px;
  position: absolute;
  top: 2160px;
  right: 15px;
  font-size: 22px;
  border-radius: 5px;
  text-align: right;
}

.acc-details {
  display: flex;
  flex-direction: row;
  width: max-content;
}

.client-infos {
  padding: 0 20px;
}

.modal-dialog {
  max-width: fit-content !important;
}

.edit-btn {
  display: none;
  transition: .2s;
  border-radius: 50px;
  padding: 7px;
}

.edit-btn:hover {
  cursor: pointer;
  background-color: #999d96;
  color: white;
}

.close-edit {
  padding: 5px;
  border-radius: 50px;
  transition: .4s;
  position: absolute;
  top: 17px;
  left: 320px;
}

.addForm {
  display: flex;
  flex-direction: column;
}

.close-edit:hover {
  background-color: rgb(151, 151, 151);
  color: white;
  cursor: pointer;
}

.client-infos > table > tr > th:hover > .edit-btn {
  display: flex;
}

.client-infos > table > tr > td,
.client-infos > table > tr > th {
  border: none !important;
  background-color: white;
}

.client-infos > table > tr > th {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: .2s;
  width: 240px;
}